<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Slider</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icoons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Stylesheet  -->    
    <link rel="stylesheet" href="css/style.css"> 
    <!-- VueJs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Script -->
    <!-- <script defer src="js/script.js"></script> -->
    <script src="js/data.js"></script>
    <script defer src="js/vue.js"></script>
</head>
<body>      
    <div id="root" class="container d-flex direction-column align-items-center my-4">

        <button id="prev-button" class="border-0 bg-transparent" @click="goTo('prev')">
            <i class="bi bi-arrow-left-square-fill btn"></i>
        </button>
        
        <div class="container-images d-flex justify-content-center align-items-center">
            
            <!-- CAROUSEL  -->
            <div id="carousel">
                <div v-for="(d, i) in database" class="gallery my-4" v-show="i === currentIndex">
                    <img :src="d.image" :alt="d.title"> 
                    <div class="text text-white text-end px-5">
                      <h2>{{ d.title }}</h2>
                      <h4>{{ d.text }}</h4> 
                    </div>   
                </div>
            </div> 
            
            <!-- THUMB  -->
            <div id="thumb">
                <img v-for="(d, i) in database" :src="d.image" :alt="d.title" :class="{'active': i === currentIndex}">
            </div>
        
        </div>
        
        <button id="next-button" class="border-0 bg-transparent" @click="goTo('next')">
            <i class="bi bi-arrow-right-square-fill btn"></i>
        </button>
    
    </div>
</body>
</html>